{% liquid
  assign product = product
  assign price_class = price_class
  assign first_variant = product.variants.first
%}

<div class="product-card__image">
  <p class="text-default">
    <span
      class="product-card__price-value"
      itemprop="offers"
      itemscope
      itemtype="https://schema.org/Offer"
    >
      <meta itemprop="priceCurrency" content="{{shop.currency}}">
      <div class="flex gap-2 text-[14px] {{ price_class }}">
        {% if first_variant.available == false %}
          <span class="text-error">{{ 'products.product.sold_out' | t }}</span>
        {% elsif first_variant.compare_at_price > first_variant.price %}
          <span class="line-through text-default" itemprop="price">
            {{- first_variant.compare_at_price | money -}}
          </span>
          <span class="text-error" itemprop="sale">{{ first_variant.price | money }}</span>
        {% else %}
          <span itemprop="price">{{ first_variant.price | money }}</span>
        {% endif %}
      </div>
    </span>
  </p>
</div>
